
<%= render 'partials/nav2' %>

<div class="new-article-page">
  <% if user_signed_in? %>

      <%= render 'form', article: @article %>

  <% end %>

</div>

<%= render 'partials/footer' %>

<script>
  $(".main-navbar a ").css({
      color: "white"
  });
  $(".main-navbar").css({
      position: "fixed"
  });
</script>