
<%= render 'partials/nav2' %>

<div class="new-article-page">

      <%= render 'form', article: @article %>

</div>

<%= render 'partials/footer' %>

<script>
  $(".main-navbar a ").css({
      color: "white"
  });
  $(".main-navbar").css({
      position: "fixed"
  });

  $("#error_explanation h2").html("Please resolve the errors below");

</script>