<!-- Footer -->

<div class="bottom-footer">

  <div id="pagewrap" class="pagewrap2">

    <h3 class="footer-name">Modern Fitness</h3>


    <ul class="footer-ul">
      <li>Training</li>
      <li>Reviews</li>
      <li>Forum</li>
      <li>Shop</li>
      <li>Community</li>
      <li>Events</li>
    </ul>

    <div class="bottom-portion">


      <h2>Modern Fitness</h2>
      <p>©2001-2017 All Rights Reserved. Modern Fitness® is a registered trademark of Lorem Ipsum. Privacy and Terms</p>

      <img src="https://cdn3.iconfinder.com/data/icons/peelicons-vol-1/50/Facebook-256.png"/>
      <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/twitter_circle_black-256.png"/>
      <img src="https://www.tapwithbrad.com/wp-content/uploads/2015/06/Youtube-Black-Circle-Icon.png"/>
    </div>
    </div>
</div>

<!-- End Footer -->