<!-- Footer -->

<div class="bottom-footer">

  <div id="pagewrap" class="pagewrap2">

    <h3 class="footer-name">Modern Fitness</h3>
    <div class="realign">
    <header>
    </header>

    <section id="content">
      <h2>Learn More</h2>
      <a>Lorem</a>
      <a>Lorem</a>
      <a>Lorem</a>
      <a>Lorem</a>
      <a>Lorem</a>
      <a>Lorem</a>
    </section>

    <section id="content">
      <h2>Learn More</h2>
      <a>Lorem</a>
      <a>Lorem</a>
      <a>Lorem</a>
      <a>Lorem</a>
      <a>Lorem</a>
      <a>Lorem</a>
    </section>

    <section id="middle">
      <h2>Make Money</h2>
      <a>Lorem</a>
      <a>Lorem</a>
      <a>Lorem</a>
      <a>Lorem</a>
      <a>Lorem</a>
      <a>Lorem</a>

    </section>


    <aside style="float:left !important;" id="sidebar">
      <h2>Lorem Ipsum</h2>
      <a>Lorem</a>
      <a>Lorem</a>
      <a>Lorem</a>
      <a>Lorem</a>
      <a>Lorem</a>
      <a>Lorem</a>
    </aside>

    <footer>

    </footer>
    </div>

    <div class="bottom-portion">


      <h2>Modern Fitness</h2>
      <p>©2001-2017 All Rights Reserved. Modern Fitness® is a registered trademark of Lorem Ipsum. Privacy and Terms</p>

      <img src="https://cdn3.iconfinder.com/data/icons/peelicons-vol-1/50/Facebook-256.png"/>
      <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/twitter_circle_black-256.png"/>
      <img src="https://www.tapwithbrad.com/wp-content/uploads/2015/06/Youtube-Black-Circle-Icon.png"/>
    </div>
    </div>
</div>

<!-- End Footer -->