<!-- Footer -->

<div class="bottom-footer">

  <div id="pagewrap" class="pagewrap2">

    <h3 class="footer-name">Modern Fitness</h3>



    <div class="bottom-portion">


      <p>©2001-2017 All Rights Reserved. Modern Fitness® is a registered trademark of Lorem Ipsum. Privacy and Terms</p>

    </div>
    </div>
</div>

<!-- End Footer -->