<div class="main-navbar">

  <h1 class="mobile-title">Modern Fitness</h1>
  <i style="color:white; font-size:40px;" class="fa fa-bars" aria-hidden="true"></i>



  <div style="transform: translateY(-3px) !important;" class="nav-items">

    <a class="hover-link" href = "/articles">Articles</a>
    <%= link_to 'Forum', posts_path, :class => 'navbar-link' %>
    <a class="hover-link" href = "/community">Community</a>
    <a class="hover-link" href = "/products">Shop</a>



  </div>


</div>


<div class="mobile-dropdown">
  <ul>
    <li onclick="window.location.href='/users/sign_in'">Log In</li>
    <li onclick="window.location.href='/users/sign_up'">Sign Up</li>
    <li onclick="window.location.href='/posts'">Forum</li>
    <li onclick="window.location.href='/products'">Shop</li>
    <li onclick="window.location.href='/community'">Community</li>
  </ul>
</div>

<script>
    $(".lower-overlay").hide();
    $(".search-input").hide();
    $(".animated-dropdown").hide();
    $(".dropdown-side-img").hide();
    $(".title-of-product").hide();
    $(".price-of-product").hide();
    $(".animated-dropdown-h1").hide();
    $(".listOf-items-dropdown").hide();

    $(".fa-search").click(function(){
        alert();
        $(".search-away").toggleClass("change-height");
        $(".search-input").show();
        $(".search-container").addClass("changeSearchContainerHeight");
    }, function(){
        $(".search-container").removeClass("changeSearchContainerHeight");
    });

    $(".fa-bars").click(function(){
       $(".mobile-dropdown").toggleClass("add-height");
    });
</script>