<%= render 'partials/nav2' %>

<style>

  .to-top{

    margin-top: 0px !important;
  }
</style>

<div class="product-container">
  <div class="product-header">
    <div class="product-text-container">
      <h1>“I started selling on Modern Fitness <br/> and my buisness grew ten times since”</h1>
      <p>- Lorem Ipsum</p>
      <button onclick="window.location.href=window.location.href='/products/new'">Start Selling</button>
      <p style="margin-top: 3px;">$20.99 monthly + additional selling fees</p>
    </div>
  </div>

  <div class="why-products">
    <h1>Why Sell On Modern Fitness?</h1>

    <div id="pagewrap">


      <section id="content">
        <img src="https://cdn0.iconfinder.com/data/icons/seo-smart-pack/128/grey_new_seo-29-512.png"/>
        <h2>1st Content Area</h2>
        <p>This page demonstrates a 3 column responsive layout, complete with responsive images and jquery slideshow.</p>
      </section>

      <section id="middle">
        <img src="https://cdn4.iconfinder.com/data/icons/businessmen-set-1/512/10-512.png"/>
        <h2>2nd Content Area</h2>
        <p>At full width all three columns will be displayed side by side. As the page is resized the third column will </p>
      </section>

      <aside id="sidebar">
        <img src="http://www.iconsdb.com/icons/preview/icon-sets/grey-wall/product-xxl.png"/>
        <h2>3rd Content Area</h2>
        <p>Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
      </aside>

      <footer>

      </footer>

    </div>

    <div class="products-message">
      <button onclick="window.location.href='/products/new'">Start Selling</button>
    </div>
  </div>


  <%= render 'partials/footer' %>
</div>