
<!-- Using slick with turbolinks -->
<% content_for :head do %>
    <meta name="turbolinks-cache-control" content="no-cache">
<% end %>
<!-- End --->

<!-- Top Header Image -->
<div style="background: url(https://d2qz8nhumbxtnj.cloudfront.net/clz_assets/clz/images/cms/OTHERS/CONTENT_TEMPLATE/all-LP-TopBanner-Fitness2016-clz.jpg) center center no-repeat; background-size: cover;" class="header-image">
  <div class="right-header-container"></div>
</div>
<!-- End Top Header Image -->