
<!-- Using slick with turbolinks -->
<% content_for :head do %>
    <meta name="turbolinks-cache-control" content="no-cache">
<% end %>
<!-- End --->

<!-- Top Header Image -->
<div style="background: url(https://www.mandevillesportscomplex.com/images/mocup-top-image.jpg) center center no-repeat; background-size: cover;" class="header-image">
  <div class="right-header-container"></div>
</div>
<!-- End Top Header Image -->