<!-- Top slider -->
<div class="slider">



  <% 10.times do |h| %>
        <div style="position: relative; background: lightgrey !important;background-size: cover;" class="slide">

        <div class="hot-product-overlay ">
            <h1 class="parallax-scroll"><span>Title</span></h1>
            <h1 class="parallax-scroll"><span>Name & Date</span></h1>
        </div>
      </div>

      <% end %>



  </div>

  <a href="/articles"><p style="transform: translateY(-50px);text-align: center;color:white;">See All Articles <i class="fa fa-arrow-right"></i></p></a>

  <!-- End Top Slider -->