<%= render 'partials/nav' %>

<div class="move-down">
  <div class="hot-products-container">

    <div class="hot-product">
      <img src = "https://draxe.com/wp-content/uploads/2015/11/Almond-Joy-Protein-Shake.jpg">
      <div class="hot-product-overlay ">
        <h1 class="parallax-scroll"><span>Lorem Ipsum</span></h1>
        <h1 class="parallax-scroll"><span>lorem ipsum is simply dummy text</span></h1>
      </div>

    </div>

    <div class="hot-product">
      <img src = "http://static.oprah.com/images/200412/omag/200412-omag-trainer-600x411.jpg">
      <div class="hot-product-overlay ">
        <h1 class="parallax-scroll"><span>Lorem Ipsum</span></h1>
        <h1 class="parallax-scroll"><span>lorem ipsum is simply dummy text</span></h1>
      </div>

    </div>

    <div class="hot-product">
      <img src = "https://greatist.com/sites/default/files/running_2.jpg">
      <div class="hot-product-overlay ">
        <h1 class="parallax-scroll"><span>Lorem Ipsum</span></h1>
        <h1 class="parallax-scroll"><span>lorem ipsum is simply dummy text</span></h1>
      </div>

    </div>


  </div>

  <div class="main-hot-container">
    <div class="main-hot-side-img side-img">
      <img src = "https://secure.meetupstatic.com/photos/theme_body/7/2/3/0/full_6569232.jpeg">
      <div class="main-hot-overlay">
        <button>$65</button>
      </div>
    </div>
    <h1>Lorem Ipsum</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
    <button class="btn draw-border">Lorem Ipsum</button>
    <div style="margin-top:80px;" class="underline2"></div>

  </div>
  <div class="whats-new">
    <h1 class="whats-new-title">What's New</h1>
    <div class="whats-new-side-container">
      <img src = "https://greatist.com/sites/default/files/styles/article_main/public/Crunches_Cardio-1800_0.jpg?itok=GQXONNYZ">
      <h1>Lorem Ipsum</h1>
      <p>Lorem is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500</p>
    </div>
    <div class="whats-new-layout-container">

      <div class="whats-new-layout">
        <div class="whats-new-text-container">
          <img src="http://blog.crossrope.com/wp-content/uploads/2016/08/17-fitness-quotes-to-get-yo-872x436.jpg"/>
          <h1>Lorem Ipsum</h1>
          <p>Lorem ipsum is ng industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500</p>
          </div>
        </div>

      <div class="whats-new-layout">
        <div class="whats-new-text-container">
          <img src="https://www.wired.com/wp-content/uploads/2016/12/competitor-200x100-e1481829699357.jpg"/>

          <h1>Lorem Ipsum</h1>
          <p>Lorem ipsum is ng industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500</p>
        </div>
      </div>

      <div class="whats-new-layout">

        <div class="whats-new-text-container">
          <img src="http://amfamfit.com/wp-content/uploads/2017/02/2.Marcus_Evins_MV-200x100.jpg"/>

          <h1>Lorem Ipsum</h1>
          <p> is ng industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500</p>
        </div>
      </div>

      <div class="whats-new-layout">
      <div class="whats-new-text-container">
        <img src="http://mathewfreemanfitness.com/wp-content/uploads/2014/08/MathewFreemanFitness-VictoriaSchwartz-200x100.jpg"/>

        <h1>Lorem Ipsum</h1>
        <p>Lorem ipsum is ng industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500</p>
      </div>
    </div>

      <div class="whats-new-layout">
        <div class="whats-new-text-container">
          <img src="https://sandgoanna.com.au/wp-content/uploads/2016/01/shutterstock_242603479-Cert-IV-Fitness-200x200.jpg"/>

          <h1>Lorem Ipsum</h1>
          <p>Lorem ipsum is ng industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500</p>
        </div>
      </div>

      <div class="whats-new-layout">
        <div class="whats-new-text-container">
          <img src="http://soulplaylistblog.com/wp-content/uploads/2017/09/sitting-workout-200x100.jpg"/>

          <h1>Lorem Ipsum</h1>
          <p> Lorem ipsum is ng industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500</p>
        </div>
      </div>

    </div>


  </div>
</div>

<h1 class="top-product">Lorem Ipsum</h1>


<div class="product-of-the-week">

  <h1>Lorem Ipsum</h1>
  <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make</p>


  <div class="product-side-week">

    <p>Lorem Ipsum</p>
    <div class="week-img-container">
      <img src = "http://img1.sunset.timeinc.net/sites/default/files/styles/1000x1000/public/image/2016/07/main/best-camping-in-the-west-fireside-gourmet-mascarpone-french-toast-warm-blackberry-syrup-0512.jpg?itok=IEeKZ6gy">

    </div>
  </div>


</div>
<div class="two-container">
  <div style="margin-left:50px; background: rgb(25,25,25)" class="last-two-product-showcase">
    <h1>Lorem Ipsum</h1>
    <img src = "https://cdn.shopify.com/s/files/1/1844/4901/products/144049384d15a783c0edd41a25cf9e6e_grande.jpg?v=1504374420">
  </div>

  <div style="background:rgb(25,25,25);" class="last-two-product-showcase">
    <h1>Lorem Ipsum</h1>

    <img src = "https://cdn.shopify.com/s/files/1/1844/4901/products/3e0cb6d07846bfc426c4d84df30a2361_grande.jpg?v=1490644583">

  </div>

</div>

<div class="bottom-footer">
  <h1>Modern Fitness</h1>
</div>
