<div style="background: url(https://www.mandevillesportscomplex.com/images/mocup-top-image.jpg) center center no-repeat; background-size: cover;" class="header-image">
  <div class="right-header-container"></div>
</div>



<%= render 'partials/nav' %>

<div class="slider">
  <div style="position: relative; background:url(https://static1.squarespace.com/static/553ea53ae4b056ff9cd289fa/553ebf7fe4b04f3f2540a429/553ebffae4b0c0667be567af/1430175747617/Leryn-Franco-Fitness-Girl-HD-Wallpaper.jpg?format=1500w) center center no-repeat; background-size: cover;" class="slide">
    <div class="hot-product-overlay ">
      <h1 class="parallax-scroll"><span>Lorem Ipsum</span></h1>
      <h1 class="parallax-scroll"><span>lorem ipsum is simply dummy text</span></h1>
    </div>
  </div>
  <div style="position: relative; background:url(https://ak9.picdn.net/shutterstock/videos/10423340/thumb/1.jpg) center center no-repeat; background-size: cover;" class="slide">
    <div class="hot-product-overlay ">
      <h1 class="parallax-scroll"><span>Lorem Ipsum</span></h1>
      <h1 class="parallax-scroll"><span>lorem ipsum is simply dummy text</span></h1>
    </div>
  </div>
  <div style="position: relative; background:url(http://geodavephotography.com/images/running-wallpaper/37606546-running-wallpaper.jpg) center center no-repeat; background-size: cover;" class="slide">
    <div class="hot-product-overlay ">
      <h1 class="parallax-scroll"><span>Lorem Ipsum</span></h1>
      <h1 class="parallax-scroll"><span>lorem ipsum is simply dummy text</span></h1>
    </div>
  </div>
  <div style="position: relative; background:url(https://hdwallsource.com/img/2016/4/fitness-man-wallpaper-51312-53010-hd-wallpapers.jpg) center center no-repeat; background-size: cover;" class="slide">
    <div class="hot-product-overlay ">
      <h1 class="parallax-scroll"><span>Lorem Ipsum</span></h1>
      <h1 class="parallax-scroll"><span>lorem ipsum is simply dummy text</span></h1>
    </div>
  </div>
  <div style="position: relative; background:url(https://draxe.com/wp-content/uploads/2015/11/Almond-Joy-Protein-Shake.jpg) center center no-repeat; background-size: cover;" class="slide">
    <div class="hot-product-overlay ">
      <h1 class="parallax-scroll"><span>Lorem Ipsum</span></h1>
      <h1 class="parallax-scroll"><span>lorem ipsum is simply dummy text</span></h1>
    </div>
  </div>
  <div style="position: relative; background:url(http://www.wallpapersbyte.com/wp-content/uploads/2016/01/The-Rock-Dwayne-Johnson-Actor-Fitness-Athlete-Gym-Exercise-WallpapersByte-com-1920x1080.jpg) center center no-repeat; background-size: cover;" class="slide">
    <div class="hot-product-overlay ">
      <h1 class="parallax-scroll"><span>Lorem Ipsum</span></h1>
      <h1 class="parallax-scroll"><span>lorem ipsum is simply dummy text</span></h1>
    </div>
  </div>
  <div style="position: relative; background:url(https://images.designtrends.com/wp-content/uploads/2015/12/22053715/Bassketball-Terrance-Hall-Background.jpg) center center no-repeat; background-size: cover;" class="slide">
    <div class="hot-product-overlay ">
      <h1 class="parallax-scroll"><span>Lorem Ipsum</span></h1>
      <h1 class="parallax-scroll"><span>lorem ipsum is simply dummy text</span></h1>
    </div>
  </div>
</div>



  <div class="main-hot-container">
    <div class="main-hot-side-img side-img">
      <div class="side-img-cont">
        <img src = "https://secure.meetupstatic.com/photos/theme_body/7/2/3/0/full_6569232.jpeg">
      </div>
        <h1>Title</h1>
        <p>Description</p>
      <p>Avatar and date</p>
    </div>
    <div class="first-panel">
      <div class="first-panel-img-container">
        <img src="https://i.pinimg.com/originals/4c/2d/40/4c2d403c426ba0f310317ee3cab56cd9.jpg"/>
      </div>

      <h1>Title</h1>
      <p>Description</p>
      <p>Avatar And date</p>

    </div>

  </div>




<div class="product-of-the-week">

  <h1>Lorem Ipsum</h1>
  <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make</p>


  <div class="product-side-week">

    <p>Lorem Ipsum</p>
    <div class="week-img-container">
      <img src = "http://img1.sunset.timeinc.net/sites/default/files/styles/1000x1000/public/image/2016/07/main/best-camping-in-the-west-fireside-gourmet-mascarpone-french-toast-warm-blackberry-syrup-0512.jpg?itok=IEeKZ6gy">

    </div>
  </div>


</div>
<div class="two-container">
  <div style="margin-left:50px; background: rgb(25,25,25)" class="last-two-product-showcase">
    <h1>Lorem Ipsum</h1>
    <img src = "https://cdn.shopify.com/s/files/1/1844/4901/products/144049384d15a783c0edd41a25cf9e6e_grande.jpg?v=1504374420">
  </div>

  <div style="background:rgb(25,25,25);" class="last-two-product-showcase">
    <h1>Lorem Ipsum</h1>

    <img src = "https://cdn.shopify.com/s/files/1/1844/4901/products/3e0cb6d07846bfc426c4d84df30a2361_grande.jpg?v=1490644583">

  </div>

</div>

<div class="bottom-footer">
  <h1>Modern Fitness</h1>
</div>


<script>
    $('.slider').slick({
        infinite: true,
        slidesToShow: 3,
        slidesToScroll: 3,
        centerMode: true,
        autoplay: true,
        autoplaySpeed: 2000,
    });

    $(".slick-next").html(">")
    $(".slick-prev").html("<");

</script>