@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";



body, html{
  width:100%;
  height:100%;
  background:rgb(240,240,240);
  margin:0;
  padding:0;
  overflow-x: hidden;
  font-family: 'Helvetica Neue', sans-serif !important;
}



a{
  text-decoration: none;
}

*:focus {
  outline: none;
}

.nav-items {
  margin-top:12px;
}



.main-navbar {
  width:100%;
  height:40px;
  position: relative;
  top:0;
  text-align: center;
  left:0px;
  overflow: hidden;
  z-index:99;
  background: black;
}

.logo {
  cursor: pointer;
  z-index: 99;
}


.main-hot-container > img{
  width:260px;
  height:260px;
  margin-top:50px;
  margin-left:60px;
  box-shadow: 10px 10px 5px rgba(0,0,0,0.5);

}

.main-navbar a {
  color: white;
  font-size:12px;
  text-transform: uppercase;
  letter-spacing:2px;
  margin-left:15px;
  text-align: center;
  padding-left:30px;
  font-weight: 900;
  padding-right: 30px;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif !important;
  position: relative;

}

.main-navbar a::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top:-15px;
  width:2px;
  height: 40px;
  background:rgba(255,255,255,0.2);
}

.main-navbar a::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top:-15px;
  width:2px;
  height: 40px;
  background:rgba(255,255,255,0.2);
}

.grid__item {
  background:white !important;
  border-radius: .3em !important;
  box-shadow: 0 2px 5px 1px rgba(#000, 0.2);

}

.grid__item h1 {
  color:rgb(81,81,81) !important;
}

.article-owner {
  font-weight: 400 !important;
  font-size:17px;
}





.left-side-nav-items{
  float: left;
  margin-left: 30px;
  margin-top: 75px;
  transition: all 100ms ease-in-out;

}

.title-container{
  position: absolute;
  text-align: center;
  width: 100%;
  margin-top: 70px;
  font-size:20px;
  font-weight: 900 !important;
  pointer-events: none;
  transition:all 100ms ease-in-out;
}

.right-side-nav-items{
  position: relative;
  float: right;
  margin-right:35%;
  font-size:20px;
  margin-top: 68px;
  white-space: nowrap;
  transition: all 100ms ease-in-out;
  float:right !important;
  margin-right: 50px !important;

}

.hot-product-overlay{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  margin-top:150px;
  background:red !important;
  z-index: 9999999999999999;


}

.hot-product-overlay h1 {
  font-size:18px;
  font-family: 'Josefin Sans', sans-serif !important;
  color:white;
  margin-left:15px;
}

.fa-bars{
  display: none;
  cursor: pointer;
}

.mobile-dropdown {
  width: 100%;
  height:0px;
  background:white;
  z-index:999999999999999999999;
  transition: all 400ms ease-in-out;
  overflow: hidden;
}

.mobile-dropdown ul {
  list-style-type: none;
  margin-left: 30px;
  margin-top: 30px;
}

.mobile-dropdown ul li {
  font-size:20px;
  margin-top: 10px;
  text-transform: uppercase;
  color:grey;
  cursor: pointer;
}

.add-height {
  height: 260px;
}


.mobile-title {
  position: absolute;
  top: -7px;
  left: 10px;
  font-size:15px;
  color:white;
  font-weight: 100;
  display: none;
}

.title-container img {
  width:70px;
  height:70px;
  transform: translateY(-29px);
}


.searching {
  transform: translate(-10px,3px);
}

.right-side-nav-items img {
  width:30px;
  height: 30px;
}

.bottom-footer h1 {
  text-align:center;
  font-size:25px;
  color:rgb(81,81,81);
  margin-top:50px;
  transform:translateY(50px);
  font-family: Helvetica, Sans-Serif;
  font-weight: 100;
}

.six-columns {
  white-space:nowrap;
}
.inside-six {
  white-space:normal !important;
}



.header-image {
  width:100%;
  height:50%;
  background:black;
  position: relative;
}

.slide {
  height: 140px !important;
  width:180px;
  background:white !important;
  margin-left: 36px;
}

.slick-next {
  position: absolute;
  right: 15px;
  top:100px;
  width:45px;
  height:45px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.55);
  background:white;
  border-radius: 100%;
  border:none;
  color: grey;
  font-size:20px;
  cursor: pointer;

}

.slick-prev {
  position: absolute;
  left: 15px;
  top:100px;
  width:45px;
  height:45px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.55);
  background:white;
  border-radius: 100%;
  border:none;
  color: grey;
  font-size:20px;
  cursor: pointer;
  z-index: 9999999999999;
}


button:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background: rgba(255, 255, 255, .5);
  opacity: 0;
  border-radius: 100%;
  transform: scale(1, 1) translate(-50%);
  transform-origin: 50% 50%;
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}

button:focus:not(:active)::after {
  animation: ripple 1s ease-out !important;
}



.slider {
  background:white;
  width:100%;
  height:260px;

  text-align:left !important;
  margin: 0 !important;
  padding: 0 !important;

}

.slick-track {
  margin: 0 !important;
  text-align:left !important;
  transform: translate(0,0) !important;
  left: -50px !important;
}

.slide {
  margin-top:50px;
  height: 300px;
}

.content {
  color:white;
  text-align: center;
  font-family:Helvetica, sans-serif;
  font-size:20px;
  margin-top:50px;
  font-weight: 100;
}

a {
  text-decoration: none ;
}
a:hover
{
  text-decoration:none;
  cursor:pointer;
}

.main-navbar a {
  transition: all 500ms ease-in-out;
}

.main-navbar a:hover {
  color:orange;
}

.nav-items a {
  transform: translateY(-3px)!important;
  font-size:12px !important;
  font-weight: 100;
}




.right-header-container {
  position: absolute;
  right: 0;
  margin-right: 50px;
  margin-top:20px;
  color:black !important;
}

.right-header-container a {
  color:white !important;
  font-size:13px;
  text-transform: uppercase;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: 400;
}

.fa-search {
  color:white !important;
  cursor: pointer;
}

.left-header-container img {
  width:30px;
  height: 30px;
  display: inline-block;
  filter: invert(100%);
}

.left-header-container {
  position: absolute;
  top: 20px;
  left: 20px;
}

.deals {
  text-align:center;
  position: absolute;
  width: 100%;
  top: 130px;
}

.header-image h1 {
  font-size:40px !important;
  text-align:center !important;
  color:white;
  display: block;
  margin: 0 auto;
}

.start-selling-today {
  width: 100%;
  height: 460px;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../money.jpg) center center no-repeat;
  background-size: cover;
  text-align: center;
  background-position: 0 0px;
}

.start-selling-today h1 {
  color:white;
  font-size:40px;
  font-weight: 100;

}

.start-selling-today button {
  width: 250px;
  height: 50px;
  border-radius: .3em;
  color:black;
  text-transform: uppercase;
  border:none;
  margin-top: 50px;
  background: white;
  box-shadow: 0 2px 5px 1px rgba(#000, 0.2);

}

.start-selling-text {
  transform: translateY(120px);
}

.columns6 {
  box-shadow: 0 2px 5px 1px rgba(#000, 0.2);

}

.col-sm-4 {
  box-shadow: 0 2px 5px 1px rgba(#000, 0.2);
  margin-left: 20px;
  background:white !important;
  border-radius: .2em !important;
}

.media-left-img {
  width:100%;
  height: 300px;
}

.columns6 h1 {
  font-size:14px;
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
  transform: translateY(20px);
}

#error_explanation {
  position: fixed;
  margin: auto;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  width: 500px;
  height: 300px;
  background:white;
  z-index: 99999999999999999999;
  animation: bye_errors 3s ease-in-out forwards;
  box-shadow: 0 2px 5px 1px rgba(#000, 0.2);
}

@keyframes bye_errors {
  0%{
    opacity: 1;
  }
  90%{
    opacity: 1;
  }
  100%{
    opacity:0
  }
}

#error_explanation h2 {
  margin-left: 20px;
  font-size:20px;
}

#error_explanation ul li {
}

#error_explanation ul {
  list-style-type: none;
}

.profile-img-container {
  width:200px !important;
  height: 200px !important;
}