.profile-header {
  width: 100%;
  height: 300px;
  background:rgb(50,50,50);
  position: relative;
}

.profile-img-container {
  border-radius: 100%;
  display: block;
  width: 100px !important;
  height: 100px !important;
  margin-left: 100px;
  margin-top: 20px;
  float:left;
}

.profile-quick-links li {
  display: inline;
  color:rgb(81,81,81);
  margin-left: 20px;
  font-size:15px;
  font-weight: 400;
  font-family: Arial, Sans-Serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.profile-quick-links li a {
  color:rgb(81,81,81);
}


.profile-quick-links{
  transform: translateY(25px);
}

.profile-quick-links {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.profile-quick-links li a {
  padding-bottom: 20px;
  transition: all 300ms ease-in-out;
}
.profile-quick-links li a:hover {
  color:rgb(81,81,81);
  padding-bottom: 10px;
  border-bottom: 3px solid white;
}

.profile-container {
  text-align: center;
}


.follow-btn {
  position: absolute;
  right: 30px;
  top:40px;
  background:rgb(51,51,51);
  width:150px;
  height:50px;
  text-transform: uppercase;
  border:none;
  color:white !important;
  overflow: hidden;
  box-shadow: 0 2px 5px 1px rgba(#000, 0.2);


}

.profile-articles {
  background:white;
  position: relative;
  padding:0;
  box-shadow: 0 2px 5px 1px rgba(#000, 0.2);
  margin-left: 20px;
  width: 250px;
}

.your-articles {
  font-size:20px;
  text-align:center;
}

.profile-container2 {
  width: 89%;
}

.profile-articles h1, p {
  font-size:17px !important;
  margin-left: 10px;
}

.profile-article-img {
  width: 100%;
  height: 150px;
}



@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}



.ajs-success {
  background: rgb(51,51,51) !important;
  color:white !important;
  box-shadow: 10px 10px 5px rgba(0,0,0,0.7);
}

.no-articles {
  margin-top:150px;


}
.no-articles h1 {
  text-align:left !important;
  margin-left: 100px;
}

.no-articles img {
  display: block;
  margin: 0 auto;
}

.profile-name {
  text-align:left !important;
  font-size: 20px !important;
  margin-left: 30px;
  font-weight: 900 !important;
}